html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
}

#acceuil {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/acceuil-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
}

@media (min-width: 768px) {
  #acceuil {
    background-image: url("../../assets/img/acceuil.jpg");
  }
}

.navbar-light .navbar-brand {
  background-image: url("../../assets/img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  width: 150px;
  height: 40px;
}

#navcol {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: #222;
  padding: 10px;
}

#title {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin-top: 40px;
}

#subtitle {
  font-family: Montserrat, sans-serif;
  font-size: 46px;
  font-weight: bold;
}

#acceuil-bottom {
  color: #fff;
}

.p-top {
  font-size: 26px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.p-bot {
  font-size: 12px;
  font-weight: 100;
}

.reserve-button:hover, .reserve-button:focus, .reserve-button:active {
  background-color: rgba(0,98,204,0) !important;
  border: 3px solid #fff !important;
  box-shadow: none !important;
}

.reserve-button {
  background-color: rgba(0,98,204,0);
  border: 3px solid #fff;
  border-radius: 30px;
}

.btn.btn-link.btn-block.arrow-button {
  color: #ffffff;
  font-size: 32px;
}

#acceuil-bottom .container {
  max-width: 700px;
  text-align: center;
}

.col.with-borders {
  border: 1px solid rgba(255,255,255,0.2);
  border-top: 0;
  border-bottom: 0;
}

#golf {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/golf-mobile.jpg") center / cover no-repeat;
}

@media (min-width: 768px) {
  #golf {
    background-image: url("../../assets/img/golf.jpg");
  }
}

#golf-bottom {
  color: #fff;
}

#golf-bottom .container {
  max-width: 700px;
  text-align: center;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

#scolarite {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/scolarite-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
}

@media (min-width: 768px) {
  #scolarite {
    background-image: url("../../assets/img/scolarite.jpg");
  }
}

#team {
  width: 100%;
  height: 100vh;
}

/* Team */

body {
  margin-top: 12px;
}

.single-team .inner {
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid #e5eaf0;
  padding: 5px 5px 0px;
  background: #f3f6fa;
}

.single-team .inner .team-img {
  position: relative;
}

.single-team .inner .team-img img {
  width: 80%;
}

.single-team .inner .team-img::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  top: 0;
  left: 0;
  opacity: 0;
}

.single-team .inner .team-img:hover::after {
  opacity: 0.4;
}

.single-team .inner .team-content {
  padding: 20px 0px 0px;
}

.single-team .inner .team-content h4 {
  font-size: 10px;
  font-weight: 300;
}

.single-team .inner .team-content h5 {
  font-weight: 220;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #7d91aa;
}

.single-team .inner .team-content a {
  display: inline-block;
  padding: 2px;
  margin: 0 3px;
  font-size: 16px;
}

.team-social {
  background: #f3f6fa;
  width: 50%;
  padding-top: 3px;
  margin: auto;
  border-radius: 15px 15px 0px 0px;
  margin-top: 10px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(255,255,255,0.9);
}

